<!DOCTYPE html>
<!-- 
    ng-agg is angularJS directive
    angularJS application starts from here
-->
<html ng-app="gameApp">

    <head>
        <title>GameVault</title>
        <!-- angularJS framework which loads in browser-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>

    <!--
        controller is a JS function that controls data and behaviour of a
        particular part of an angularJS application
        -> it handles logic of application
    -->
    <body ng-controller="Gamecontroller">
        <h1>GameVault</h1>
        <div class="add-game">
            <!-- ng.model -> two way data binding-->
            <input
                type="text"
                placeholder="game name"

                ng-model="newGame.name">
            
            <input
                type="text"
                placeholder="genre"
                ng-model="newGame.genre">

            <select ng-model="newGame.status">
                <option value="playing">playing</option>
                <option value="completed">completed</option>
                <option value="wishlist">wishlist</option>
            </select>

            <input
                type="number"
                placeholder="rating"
                ng-model="newGame.rating">

            <button ng-click="addGame()">Add Game</button>
        </div>
        <h2>{{message}}</h2>
        <div class="game-list">

            <!-- create html element  for each array element of games-->
            <!-- games = [game1, game2, game3]-->
            <!-- making div for every game-->
            <div class="game-card" ng-repeat="game in games">

            <h3>{{game.name}}</h3>

            <p>Genre: {{game.genre}}</p>
            <p>Status: {{game.status}}</p>
            <p>⭐ : {{game.rating}}</p>

            <!-- ng-repeat gives $index to each game-->
            <button ng-click="deleteGame($index)">Delete</button>
            <!-- button to edit-->
            <button ng-click="editGame(game)">Edit</button>

            <!-- editing form -->
             <div ng-if="editingGame === game">

            <input type="text"
               ng-model="game.name"
               placeholder="Game name">

            <input type="text"
               ng-model="game.genre"
               placeholder="Genre">

            <select ng-model="game.status">
            <option value="Playing">Playing</option>
            <option value="Completed">Completed</option>
            <option value="Wishlist">Wishlist</option>
            </select>

            <input type="number"
               ng-model="game.rating"
               min="0"
               max="10"
               placeholder="Rating">

            <button ng-click="saveGame()">Save</button>
            <button ng-click="cancelEdit()">Cancel</button>

            </div>
            </div>
        </div>
        <script src="app.js"></script>
    </body>
</html>